.App {
  text-align: center;
  border: 2px solid #000;
  min-height: 100vh;
  padding: 3rem;
}

.subcontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.button, p {
  width: 15rem;
  height: 4rem;
  font-size: 1.2rem;
}

p {
  line-height: 2.5;
}

h4 {
  width: 18rem;
  height: 3rem;
  text-align: center;
  line-height: 3;
}

.block {
  width: 10rem;
  height: 5rem;
  border: 2px solid #000;
  background-color: crimson;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 60rem;
  height: 5rem;
  padding: 1rem;
  gap: 0;
  border: 2px solid #000;
}

li {
  margin-right: 1rem;
}

