.App {
  text-align: center;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.button, p {
  color: #FFF;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

#button1, #button3 {
  background-color: red;
}

#button2, #button4 {
  background-color: orange;
}

p {
  background-color: blue;
  line-height: 2.5;
}

h4 {
  color: #FFF;
  background-color: red;
  width: 8rem;
  height: 3rem;
  text-align: center;
  line-height: 3;
}
