.App {
  text-align: center;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

#button1, #button2, p {
  color: #FFF;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

#button1 {
  background-color: red;
}

#button2 {
  background-color: orange;
}

p {
  background-color: blue;
  line-height: 2.5;
}
